<div class="margin">
<h1>Sumbit a Photo!</h1>

<%= simple_form_for @image do |f| %>
  <%= f.input :i %>
  <%= f.input :caption %>
  <%= f.input :category, collection: ["Animals", "Flowers", "Sunrises/Sunsets", "Coastal Areas", "Lakes and Rivers", "Clouds", "Portfolios"] %>
  <%= f.button :submit %>
<% end %>
</div>