<header role="banner" class="app-header">
  <div id="main">
    <center>
  <div class="navbar">
    <%= link_to 'Home', "/" %>
    <%= link_to 'Gallery', "/images#index" %>
    <%= link_to 'Services', "/services" %>
    <%= link_to 'Place an Order', "" %>
    <%= link_to 'Contact Me', "/contacts" %>
    <%= link_to 'Blog', "/posts#index" %>
    
    
    <% if user_signed_in? and current_user.admin%>
        <!--This block is only visible to signed in admins -->
          <%= link_to 'New Photos', new_image_path %>
          <%= link_to 'New Post', new_post_path %>
          <%= link_to 'Check Mail', "/letter_opener" %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        <!-- The block ends here -->
    <% end %>
    
  </div>
  
  </center>
  </div>
</header>